:root {
    --bg-col-prim: rgb(156, 205, 248);
    --bg-col-sec: rgb(240, 248, 255);
    --col-prim: black;
}

body {
    background-color: var(--bg-col-prim);
    font-family: 'Poppins', sans-serif;
    display: grid;
    height: 100vh;
    height: 100dvh;
    padding: 0 !important;
}

.navbar {
    background-color: var(--bg-col-prim);
    color: black;
}

@media all and (min-width:992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.active {
    background-color: var(--bg-col-sec);
    border-radius: 10px;
    opacity: 0.8;
}

.main-container {
    background-color: aliceblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0 50px;
    padding: 0px 20px;
    border-top: 1px solid rgb(207, 207, 207);
    border-right: 1px solid rgb(207, 207, 207);
    border-left: 1px solid rgb(207, 207, 207);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.themes-container {
    display: grid;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
    margin: 10px 30px;
}

@media (max-width: 986px) {
    .themes-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
   
}

@media (max-width: 650px) {
    .themes-container {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

.title {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    margin: 20px 30px 0;
}

.themes {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgb(187, 250, 250);
    border-radius: 16px;
    max-width: 373px;
    height: 192px;
    position: relative;
    transition: 500ms ease-in;
}

.themes:hover {
    transform: scale(1.03);
    transition: 300ms ease-in;
}

.image {
    border-radius: 16px;
    text-decoration: none;
    display: flex;
    line-height: normal;
    position: relative;
    max-width: 373px;
    height: 192px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    border: 0;
}

.themes img {
    opacity: 0;
    transition: opacity 600ms ease-in-out;
}

.themes.loaded img {
    opacity: 1;
}

.image .masked {
    padding: 20px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    color: azure;
    font-size: 20px;
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.6) 90%);
    overflow: visible;
    line-height: 1.3;
    opacity: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.masked {
    visibility: hidden;
}

.image:hover .masked {
    visibility: visible;
    opacity: 1;
    transition: 0.3, ease-in-out;
}

.nsfw {
    filter: blur(10px);
 }

.nuxt {
    z-index: 3;
    display: none;
    position: absolute;
    top: 45%;
    left: 35%;
    background-color: aqua;
    padding: 4px;
    border-radius: 4px;
}

.show {
    z-index: 3;
    display: none;
    position: absolute;
    top: 45%;
    left: 35%;
    background: none;
    outline: none;
    border: none;
    background-color: aqua;
    padding: 4px;
    border-radius: 4px;
    opacity: 0.6;
    cursor: pointer;
}

.show.active{
    display: flex;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;

}
.container-footer {
    background-color: #f0f8ff;
    padding: 1rem 2rem;
}

.search {
    margin-right: 4rem;
}

.search .section{
  background-color:rgba(255,255,255,0.298);
  box-sizing:border-box;
  z-index:8;
  border-radius: 6px;
}

.search.search-expand {
  display: none;
}

.search form {
  display: flex;
}

.search form .search-submit-container {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-box-ordinal-group: 1;
  order: 0;
  height: 40px;
  width: 30px;
  padding-left: 6px;
}

.search form .search-input {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.search form .search-input input {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
}

.search .search-input input{
  background:0 0;
  border:0;
  color:#000000;
  font:400 16px Merriweather, Georgia, serif;
  outline:0;
  padding:0 20px
  }

.search-submit-container input {
  display: none;
}